*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import './first';
@import './second';

.sky{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: transform 1s;
    z-index: 10;
    .back{
        height: 200vh;
        animation: downward 35s linear infinite;
        background: url('../../img/space2.jpg')  center center / cover;
        background-size: 100% 50%;
    }
}
@keyframes downward {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% 200%;
    }
}

.ship{
    position: absolute;
    right: 50%;
    bottom: 30px;
    display: flex;
    transform: translateY(-3px);
    transition: transform 0.2s;
    img{
        width: 100px;
        height: 100px;
    }
}

.projectile{
    width: 3px;
    height: 7px;
    background-color: #09B0FF;
    border-radius: 5px;
    position: absolute;
}
.enemyProjectile{
    width: 3px;
    height: 7px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
}
.health{
    height: 10px;
    width: 100%;
    background: url('../../img/road.jpg');
    position: absolute;
    bottom: 0px;
    transform: translateX(100%);
    z-index: 2;
    &-second{
        height: 10px;
        width: 100%;
        // background: linear-gradient(90deg, rgb(232, 21, 21), rgb(0, 255, 255) 100%);
        background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
        position: absolute;
        bottom: 0px;
    }
}
.score{
    width: 100px;
    height: 50px;
    border: 2px solid lightslategray;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: lightblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.counter{
    width: 50%;
    margin: 0 auto;
    margin-top: 8%;
    font-family: 'ds', sans-serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}
@font-face {
    font-family: 'ds';
    src: url('../../fonts/POCKC___.TTF');
}
@font-face {
    font-family: 'NeoTech';
    src: url('../../fonts/NeoTech-Medium.eot');
    src: local('../../fonts/NeoTech Medium'), local('NeoTech-Medium'),
        url('../../fonts/NeoTech-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/NeoTech-Medium.woff2') format('woff2'),
        url('../../fonts/NeoTech-Medium.woff') format('woff'),
        url('../../fonts/NeoTech-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Medium.eot');
    src: url('../../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Medium.woff') format('woff'),
    url('../../fonts/Roboto-Medium.ttf') format('truetype');
    }